.feature {
 
  margin-bottom: 10rem;
  margin-top: 15rem;
  @include breakpoint-up(large) {
    display: flex;
  }
  display: block;
  .featureimg {
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .img__container {
      width: 29rem;
      height: 42rem;
      padding: 2rem;
      border-radius: 1rem;
      background-color: white;
      box-shadow: 26px 37px 81px 1px rgba(0, 0, 0, 0.1);
      transform-style: preserve-3d;
      transform-origin: center;
      transition: all .1s;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .headimg {
          width: 4rem;
          margin-right: 1rem;
        }
        .headpara {
          font-weight: 600;
          font-size: 1.2rem;
        }
        .fic {
          font-size: 1.5rem;
          &:last-child {
            color: rgb(211, 211, 211);
            margin-left: 1rem;
          }
        }
      }

      .imghero {
        width: 100%;
        height: 15rem;
        border-radius: 2rem;
        padding: 3rem 2rem;
        transition: all 0.2s ease;
        animation-delay: .2s;
        // transform-style: preserve-3d;
        animation: feature 3s forwards ease;
        @include gradient1;
        .herohead {
          margin-bottom: 1.5rem;
        }
        .load {
          width: 100%;
          height: 2rem;
          background-color: white;
          border-radius: 0.5rem;
          position: relative;
          filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.1));
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 20%;
            background-color: $btn;
            border-radius: 0.5rem;
          }
        }
        .rating {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin-top: 1.5rem;
            font-weight: 600;
            span {
              display: block;
              font-weight: 300;
              margin-top: 0.5rem;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      .imglink {
        display: block;
        text-align: center;
        width: 100%;
        height: 5rem;
        background-color: #aeebe6;
        margin-top: 1rem;
        transition: all 0.2s ease;
        border-radius: 1rem;
        padding: 1.5rem;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: black;

        &:last-child {
          background-color: white;
        }
      }
      .mid {
        background-color: $btn;
        color: white;
      }
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 25rem;
      height: 25rem;
      background-color: $d3;
      bottom: -6rem;
      right: 8rem;
      border-radius: 0rem 0rem 5rem 0rem;
      z-index: -5;
    }
    &::before {
      content: "";
      position: absolute;
      width: 25rem;
      height: 25rem;
      background-color: $gradient3;
      border-radius: 5rem 0rem 0rem 0rem;
      top: -6rem;
      left: 8rem;
      z-index: -1;
    }
  }
  .featuredetials {
    margin-top: 20rem;
    @include breakpoint-up(large) {
      margin-left: 5rem;
      margin-bottom: 0;
      margin-top: 0rem;
    }
    .mainh {
      display: flex;
      justify-content: space-between;
      .mainheading {
        font-size: $subheading;
        margin-bottom: 3rem;

        span {
          display: block;
        }
      }
    }
    .featur {
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
        display: inline-block;
        font-size: 4rem;
        color: $btn;
      }
      .subheading {
        font-size: $subheading2;
        padding: 2rem;
        span {
          font-size: $paragraph;
          display: block;
          width: 60%;
          margin-top: 1rem;
          line-height: 1.5;
          color: gray;
        }
      }
    }
  }
}
