.container {
  padding-left: 10%;
  padding-right: 10%;
}
.py {
  padding-top: 10rem;
}
.pb {
  padding-bottom: 10rem;
}

.flex {
  display: flex;
}
.jc {
  justify-content: center;
}
.ac {
  align-items: center;
}
.abs {
  position: absolute;
}
