//color
$primary: #feedf7;
$secondary: #fefefd;
$btn: #f14f63;
$gradient1: #fff6ed;
$gradient2: #fff6ed;
$gradient3: #e9f7ff;
$d1: #83304e;
$d2: #1f2130;
$d3: #f3d1ea;
$fontcolor: rgb(26, 26, 26);

//font size
$heading: 5rem;
$paragraph: 1.2rem;
$subheading: 2.6rem;
$subheading2: 1.4rem;
